.vehicle {
  font-family: "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  margin-left: 10px;
}
.editLink {
  font-family: "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #528ae2;
}
.fontType {
  font-family: "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="range"] {
  -webkit-appearance: none;
  /* background-color: rgb(66, 31, 31); */
  background-image: linear-gradient(to right, #efd44f, #68d58a);
  width: 100%;
  height: 6px;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgb(184, 142, 142);
  opacity: 1;
  width: 26px;
  height: 26px;
  border-radius: 16px;
  background: url("./assets/sliderSvg.svg");
  background-size: 140%;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: rgb(0 0 0 / 9%) 0px 1px 8px;
  cursor: pointer;
}
.needHelpMain {
  margin-left: 14px;
  margin-top: 14px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 48px 200px;
  grid-gap: 10px;
}
.needHelpMain > :first-child > :first-child {
  width: 48px;
  height: 48px;
}
.needHelpMain > :nth-child(2) > :first-child {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
}
.needHelpMain > :nth-child(2) > :nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-top: 8px;
  color: #9296a5;
}
.needHelpMain > :nth-child(2) > :nth-child(3) {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  margin-top: 8px;
  color: #3f8fd7;
  cursor: pointer;
}

.insideContRight {
  margin: 22px 12px 24px 12px;
  font-family: "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #dcdde9;
  padding-bottom: 16px;
}
.insideContRight > :nth-child(1) > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.insideContRight > :nth-child(1) > :nth-child(2) {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 12px;
  margin-top: 6px;

  color: #454f5a;
}
.insideContRight > :nth-child(1) > :nth-child(3) {
  margin-top: 14px;
}
.insideContRight > :nth-child(1) > :nth-child(4) {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 242px 78px;
  grid-gap: 23px;
}
.insideContRight
  > :nth-child(1)
  > :nth-child(4)
  > :nth-child(1)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
}
.insideContRight
  > :nth-child(1)
  > :nth-child(4)
  > :nth-child(1)
  > :nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #575b68;
  margin-top: 4px;
}
.insideContRight
  > :nth-child(1)
  > :nth-child(4)
  > :nth-child(1)
  > :nth-child(3) {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  margin-top: 22px;
  color: #3f8fd7;
  cursor: pointer;
}
.insideContRight
  > :nth-child(1)
  > :nth-child(4)
  > :nth-child(2)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.insideContRight
  > :nth-child(1)
  > :nth-child(4)
  > :nth-child(2)
  > :nth-child(1)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
}
.insideContRight
  > :nth-child(1)
  > :nth-child(4)
  > :nth-child(2)
  > :nth-child(2) {
  margin-top: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  color: rgba(87, 91, 104, 0.56);
  text-decoration: line-through;
  text-align: right;
}
.insideContRight
  > :nth-child(1)
  > :nth-child(4)
  > :nth-child(2)
  > :nth-child(2)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
}
.insideContRight
  > :nth-child(1)
  > :nth-child(4)
  > :nth-child(2)
  > :nth-child(3) {
  width: 78px;
  height: 24px;
  background-color: #522ed3;
  border-radius: 4px;
  color: white;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  margin-top: 8px;
}
.insidemainclass {
  margin: 16px 12px 12px;
  font-family: "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #dcdde9;
  padding-bottom: 16px;
  margin-bottom: 0px;
}
.insidemainclass > :nth-child(1) > :nth-child(1) {
  display: grid;
  grid-template-columns: 242px 78px;
  grid-gap: 23px;
}
/* own damage plan */
.insidemainclass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
}
.insidemainclass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #575b68;
  margin-top: 4px;
}
.insidemainclass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(3) {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  margin-top: 22px;
  color: #3f8fd7;
  cursor: pointer;
}
.insidemainclass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
}
.insidemainclass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(1)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
}
.insidemainclass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(2) {
  margin-top: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  color: rgba(87, 91, 104, 0.56);
  text-decoration: line-through;
  text-align: right;
}
.insidemainclass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(2)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
}
.insidemainclass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(3) {
  width: 78px;
  height: 24px;
  background-color: #522ed3;
  border-radius: 4px;
  color: white;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  margin-top: 8px;
}

.insideLastClass {
  margin: 16px 12px 12px;
  font-family: "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;

  padding-bottom: 16px;
  margin-bottom: 0px;
}
.insideLastClass > :nth-child(1) > :nth-child(1) {
  display: grid;
  grid-template-columns: 242px 84px;
  grid-gap: 20px;
}
/* own damage plan */
.insideLastClass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
}
.insideLastClass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #575b68;
  margin-top: 4px;
}
.insideLastClass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(3) {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  margin-top: 22px;
  color: #3f8fd7;
  cursor: pointer;
}
.insideLastClass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
}
.insideLastClass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(1)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
}
.insideLastClass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(2) {
  margin-top: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  color: rgba(87, 91, 104, 0.56);
  text-decoration: line-through;
  text-align: right;
}
.insideLastClass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(2)
  > :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
}
.insideLastClass
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(3) {
  width: 78px;
  height: 24px;
  background-color: #522ed3;
  border-radius: 4px;
  color: white;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 6px;
}
