.owndamageplandiv11 {
    border: 1px solid black;
    max-width: 500px;
    min-width: 300px;
    width: 340px;
    height: 76px;
    margin-left: auto;
    margin-top: 32px;
    background: #F4F5F7;

    display: grid;
    grid-template-columns: 60% 40%;
}

.oneone {
    /* border: 1px solid blueviolet; */
    /* height: 50px; */

    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.titleOne {
    line-height: 12px;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    
}

.yourcarname {
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
}

.twotwo {
    /* border: 1px solid red; */
    padding: auto;
}