.owndamageplandiv22 {
    border: 1px solid #DCDDE9;
    max-width: 500px;
    min-width: 300px;
    width: 368px;
    height: 430px;
    margin-top: 32px;
    margin-left: auto;
    font-family: system-ui, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}


.owndamageplan2title {
    font-size: 18px;
    font-weight: 700;
    line-height: 17.09px;
    margin-left: 20px;
    margin-top: 16px;

    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.owndamageplan2subtitle {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 0px;
    margin-left: 20px;
    color: #63ADF4;

    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #63ADF4;
}

.addonsdivstyle {
    margin-left: 10px;
    margin-top: 16px;
    
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

.owndamageplanprices1 {
    /* background-color: blueviolet; */
    margin-top: 16px;
    display: grid;
    grid-template-columns: 242px 78px;
    grid-gap: 23px;
    padding: 10px;
}

.owndamageplanprices1 > :nth-child(odd) {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.owndamageplanprices1 > :nth-child(even){
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    /* display: flex; */
}




.owndamageplanprices2 {
    display: grid;
    grid-template-columns: 242px 78px;
    grid-gap: 23px;
    padding: 10px;
    margin-top: 9px;
}

.owndamageplanprices2 > :nth-child(odd){
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.owndamageplanprices2 > :nth-child(even) {
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    
    align-items: center;
    text-align: center;
}

/* .owndamageplanprices2 > :nth-child(2){
    text-align: right;
}

.owndamageplanprices2 > :nth-child(4){
    text-align: right;
}

.owndamageplanprices2 > :nth-child(6){
    text-align: right;
} */

.owndamageplanprices2 > :nth-child(1) {
    color: #5C5D65;
    display: flex;
}


.pricetables {
    font-size: 16px;
    font-weight: 600;
    /* // lineHeight: "12px" */
}

.owndamageplanfinalprice {
    display: grid;
    grid-template-columns: 242px 78px;
    grid-gap: 23px;
    padding: 10px;
}

.owndamageplanfinalprice > :nth-child(2){
    text-align: right;
}

.owndamageplanfinalprice > :nth-child(2) {
    font-size: 18px;
}