.owndamageplandiv22 {
    border: 1px solid black;
    max-width: 500px;
    min-width: 300px;
    width: 368px;
    height: 284px;
    margin-top: 32px;
    margin-left: auto;
}


.owndamageplan2title {
    font-size: 18px;
    font-weight: 700;
    line-height: 17.09px;
    margin-left: 20px;
}

.owndamageplan2subtitle {
    font-size: 12px;
    font-weight: 700;
    line-height: 0px;
    margin-left: 20px;
    color: #63ADF4;
}

.owndamageplanprices1 {
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: 242px 78px;
    grid-gap: 23px;
    padding: 10px;
}

.owndamageplanprices1 > :nth-child(2){
    /* background-color: burlywood; */
    text-align: right;
    /* border: 1px solid aqua; */
}

.owndamageplanprices1 > :nth-child(4){
    text-align: right;
    /* border: 1px solid aqua; */
}

.owndamageplanprices1 > :nth-child(6) {
    /* background-color: brown; */
    /* border: 1px solid aqua; */
    text-align: right;
}


.owndamageplanprices2 {
    display: grid;
    grid-template-columns: 242px 78px;
    grid-gap: 23px;
    padding: 10px;
}

.owndamageplanprices2 > :nth-child(2){
    text-align: right;
}

.owndamageplanprices2 > :nth-child(4){
    text-align: right;
}

.owndamageplanprices2 > :nth-child(6){
    text-align: right;
}