.pincodebody{
    /* border: 1px solid black; */
    min-width: 400px;
}

.pininput{
margin-top: 25px;
width: 240px;
height: 32px;
padding: 8px 96px;
border: 1px solid #9364ED;
box-sizing: border-box;
border-radius: 4px;
}

.pininput:focus{
    border: 1px solid #9364ED;
}

.pinbtn{
    padding: 8px 32px;
    width: 176px;
height: 32px;
background: #522ED3;
border-radius: 4px;
border: none;
cursor: pointer;
color: white;
}





@media only screen and (max-width: 1100px){
    .pincodebody{
        min-width: 300px;
    }
}