.payimgg{
    width: 600px;

    
}

.paybtn{
    background: #522ED3;
border-radius: 4px;
width: 176px;
height: 32px;
padding: 8px 64px;
align-items: center;
border: none;
cursor: pointer;
color: white;
margin:0 auto;
}