.headerbody{
    width: 100%;
min-height: 56px;
box-shadow: 0px 2px 0px #F6F7FB;
background: #FFFFFF;

}

.headerlogodiv{
    /* border: 1px solid black; */
    width: 10%;
    min-height: 10px;
  max-height: 20px;
    min-height: 24px;
    position: relative;
margin-top: 10px;
margin-left: 30%;
}

.headerlogo{
      /* position: absolute; */
    width: 100%;
background: #9364ED;
height: 100%;

 /* border: 1px solid black; */

}

.circlelogo{
    position: absolute;
z-index: 2;
right: 0;
width: 1em;
top: 0.3em;
}


