.headerbody {
  width: 100%;
  min-height: 60px;
  box-shadow: 0px 2px 0px #f6f7fb;
  background: #ffffff;
}

.headerlogodiv {
  /* border: 1px solid black; */
  width: 10%;
  min-height: 10px;
  max-height: 20px;
  min-height: 24px;
  position: relative;

  margin-left: 23.888%;
}

.headerlogo {
  /* position: absolute; */
  width: 100%;
  background: #9364ed;
  height: 100%;

  /* border: 1px solid black; */
}

.circlelogo {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 1em;
  top: 0.3em;
}
