.mainContainer {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3vh;

  font-family: "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mainContainer > :nth-child(1) {
  width: 238px;
  height: 600px;
  border-radius: 6px;
  border: 1px solid #d5d5d5;
}
.mainContainer > :nth-child(2) {
  width: 450px;
}
.mainContainer > :nth-child(3) {
  width: 210px;
  border: 1px solid black;
}
.mainContainer > :nth-child(1) > :nth-child(n) {
  width: 212px;
  height: 46px;

  margin: 10px 12px 12px 12px;

  border-radius: 4px;
}
.mainContainer > :nth-child(1) > :nth-child(n) > :nth-child(1) {
  padding: 0px 13px 0px 13px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}
.mainContainer > :nth-child(1) > :nth-child(n) > :nth-child(1) > :nth-child(1) {
  width: 24px;
  height: 24px;
}
.mainContainer > :nth-child(1) > :nth-child(n) > :nth-child(1) > :nth-child(2) {
  padding: 0px 0px 0px 13px;
  color: #555a68;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.mainContainer > :nth-child(1) > :first-child > div {
  background-color: #f4f5f7;
}
.mainContainer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  color: #151619;
  font-weight: 700 !important;
}
.mainContainer > :nth-child(2) > :nth-child(1) {
  margin-top: 24px;
  margin-left: 48px;
  margin-right: 48px;
}
.mainContainer > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  font-size: 18px;
  color: #151619;
  font-weight: 700;
  padding-bottom: 36px;
}
.mainContainer > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  font-weight: 400;
  color: #878992;
  font-size: 14px;
  padding-bottom: 5px;
}

.mainContainer > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(2) {
  width: 100%;
  height: 46px;
  border-radius: 6px;
  border: 1px solid #d5d5d5;
  display: flex;
  align-items: center;
  margin: 0px 0px 24px 0px;
}

.mainContainer
  > :nth-child(2)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(2)
  > input {
  width: 307px;
  padding: 0px 0px 0px 10px;
  font-size: 14px;
  background: #ffffff;
  color: #151619;
  font-weight: 700;
  border: none;
  outline: none;
  text-align: center;
}
.mainContainer
  > :nth-child(2)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(2)
  > input::placeholder {
  font-weight: 300;
  font-size: 12px;
}
.mainContainer
  > :nth-child(2)
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(2)
  > svg {
  padding: 0px 7px 0px 0px;
}
.mainContainer > :nth-child(2) > :nth-child(1) > :nth-child(3) {
  display: flex;
  grid-gap: 35px;
  font-weight: 400;
  color: #878992;
  font-size: 14px;
}
.mainContainer
  > :nth-child(2)
  > :nth-child(1)
  > :nth-child(3)
  > :nth-child(n)
  > :nth-child(2) {
  height: 46px;
  width: 155px;
  border-radius: 6px;
  border: 1px solid #d5d5d5;
  display: flex;
  align-items: center;
  margin: 0px 0px 24px 0px;
}
.mainContainer
  > :nth-child(2)
  > :nth-child(1)
  > :nth-child(3)
  > :nth-child(n)
  > :nth-child(2)
  > input {
  font-size: 14px;
  background: #ffffff;
  color: #151619;
  font-weight: 700;
  border: none;
  outline: none;
  width: 151px;
  text-align: center;
}
.mainContainer
  > :nth-child(2)
  > :nth-child(1)
  > :nth-child(3)
  > :nth-child(n)
  > :nth-child(1) {
  padding-bottom: 5px;
}
.mainContainer
  > :nth-child(2)
  > :nth-child(1)
  > :nth-child(3)
  > :nth-child(n)
  > :nth-child(2)
  > input::placeholder {
  font-weight: 300;
  font-size: 12px;
}
.mainContainer > :nth-child(2) > :nth-child(1) > :nth-child(4) {
  width: 100%;
  height: 48px;
}
.mainContainer > :nth-child(2) > :nth-child(1) > :nth-child(4) > button {
  width: 100%;
  height: 48px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
}

.mainContainer > :nth-child(2) > :nth-child(1) > :nth-child(5) {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 0px 0px 0px;
}
.mainContainer > :nth-child(2) > :nth-child(1) > :nth-child(5) > img {
  width: 230px;
  margin: 6px 0px 0px 0px;
}
