.useofcarbody{
  /* border: 1px solid black; */
font-weight: bold;
  min-width: 400px;
}


.personalcardiv{
display: flex;
justify-content: space-around;
width: 100%;
margin: 40px auto;
height: 60px;
background-color: #F4F7FE;
border-radius: 14px;
  text-decoration: none!important;
cursor: pointer;
}



.handcardiv{
  display: flex;
  justify-content: space-around;
}


@media only screen and (max-width: 1100px){
  .useofcarbody{

 width: 300px;
  }
}