.expirybody{
    border: 1px solid black;
}


.expirypara{
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 4px;

}

.expirycont{
    background: #522ED3;
border-radius: 4px;
border: none;
padding: 8px 64px;
width: 176px;
cursor: pointer;
}