.cardetailbody{
    /* border: 1px solid black; */
  min-width: 600px;

}

.cardetailtopbody{
    display: flex;
    min-width: 600px;
    justify-content: space-between;
}

.editflexdiv{
    display: flex;
    /* border: 1px solid black; */
    width: 200px;
    justify-content: space-between;
    margin-top: 10px;
}

.editflexdiv> img{
    width: 14px;
    cursor: pointer;

}

.editflexdiv > p{
    font-style: normal;
    font-size: 15px;
    font-weight:600 ;
}

.cardetailrighttopbody{
  margin-top: 100px
}

.detailinp{
    width: 250px;
    height: 32px;
    padding: 8px 84px;
    border: 1px solid #9364ED;
box-sizing: border-box;
border-radius: 4px;
}

.detailinp:focus{
      outline: none !important;
    border-color: #9364ED;
    box-shadow: 0 0 10px #9364ED;
}

.cardepara{
    width: 250px;
}

.cardepara >p{
color: #8F909A;
font-style: normal;
font-weight: 500;
font-size: 9px;
line-height: 10px;
}

.deebtn{
    background: #522ED3;
border-radius: 4px;
padding: 8px 32px;
color: white;
width: 176px;
border: none;
margin-top: 25px;
cursor: pointer;
}

.lastflexdiv{
    display: flex;
    margin-top: 25px;
width: 340px;
justify-content: space-between;
}

.lastflexdiv >p{
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: #000000;
}


.labeldiv{
    margin-top: 20px;
    margin-bottom: 40px;
}

.labeldiv label{
    font-size: 14px;
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 12px;
color: #8A909F;
}

.labeldiv input{
    cursor: pointer;
}


@media only screen and (max-width: 600px){
    .cardetailbody{
        min-width: 300px;
    }
    .cardetailtopbody{
        min-width: 300px;
    }
}